<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Games</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <button><a href="/">Back</a></button>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Game</th>
                <th>Username</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game['name'] }}</td>
                    <td>{{ game['email'] }}</td>
                    <td>{{ game['game'] }}</td>
                    <td>{{ game['username'] }}</td>
                    <td>{{ game['age'] }}</td>
                    <td>{{ game['country'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
